body{
	margin:0px;
	font-family: Arial, Helvetica, sans-serif;
	background-color:#F0FFF0;
	
}

#header{
	background-color: #cccccc;
	height:70px;
	padding:5px;
	background:url('oook.jpg');
	text-align:center;
	color:#00008;
	margin-bottom:5px;
	
}

#menu{
	background-color: #FFE4B5;
	height:35px;
	padding:5px;
	text-align:center;
	color:white;
	margin-bottom:0px;
	
	
}

#sidebar{
	width:300px;
	height:200%;
	padding:5px;
	float:left;
	background-color:#98FB98;
	
}




#footer{
	height:20px;
	padding:0px;
	background-color:#FFE4E1;
	clear:both;
	text-align:center;
	
	

}



	

	


	