body{
	margin:0px;
	font-family: Arial, Helvetica, sans-serif;
	background-color:#F0FFF0;
	padding:10px;
	
	
}

#header{
	background-color: #cccccc;
	height:80px;
	padding:5px;
	background:url('oook.jpg');
	text-align:center;
	color:#00008;
	margin-bottom:5px;
	
}
#halaman{
	width:800px;
	margin:auto;
	
}

nav{
	background-color:#333;
	display:inline-block;
	width:80%;
}
nav ul{
	padding:0px;
	margin:0px;
	list-style:none;
}
nav ul li {
	float:left;
	background-color:#333;
}
nav a{
	display:block;
	padding : 0 10px;
	line-height:50px;
	font-size:20px;
	color:#fff;
	text-decoration:none;

}
nav a:hover{
	background-color:#000;
	
}

nav ul ul {
	display:none;
	position:absolute;
	top:60px;
}
nav ul li:hover > ul {
	display:block;
}
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position:relative;
}
nav ul ul ul li{
	position:relative;
	top:-40px;
	left:170px;
}

	

#menu{
	background-color: #FFE4B5;
	height:35px;
	padding:5px;
	text-align:center;
	color:white;
	margin-bottom:0px;
	
	
}

#sidebar{
	width:300px;
	height:200%;
	padding:5px;
	float:left;
	background-color:#98FB98;
	
}




#footer{
	height:20px;
	padding:0px;
	background-color:#FFE4E1;
	clear:both;
	text-align:center;
	
	

}



	

	


	



